*{
    box-sizing: border-box;
}
#full_warp{
    border: 2px solid gray;
}
#sidebar ul li a{
    color: red;
    text-decoration: none;
    padding: 3px 0;
    display: block;
}
@media all and (min-width: 1001px) {
    #sidebar ul li a:after{
        content: "(" attr(data-email)")";
        font-size: 11px;
        font: italic;
        color: #666;
    }
}
@media all and (max-width:1000px) and (min-width: 700px){
    #sidebar ul li a:before{
        content:"Email";
        font-style: italic;
        color: #666;
    }
}
@media all and (max-width:699px) and (min-width: 520px),(min-width:1151px){
    #sidebar ul li a{
        padding-left:21px ;
        background: url(images/email.jpg) left center no-repeat;
    }
}
#main-content{
    width: 50%;
    float: right;
}